
<body>
  <!-- Top Navbar -->
  <nav class="navbar navbar-expand-lg mb-5">
    <div class="container-fluid">
      <div class="logo">
        <i class="fa-brands fa-pix fa-3x"></i>
        <a href="#"><p><span>City</span>Craftsmen</p></a>
      </div>
      <form>
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search our services" aria-label="Search">
          <span class="input-group-text">
            <button type="submit" class="btn">
              <i class="fa-solid fa-magnifying-glass text-secondary"></i>
            </button>
          </span>
        </div>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="#">Categories</a>
          <a class="nav-link" href="#">Login</a>
          <a class="nav-link" href="#">Sign-up</a>
          <a class="nav-link" href="#">Faqs</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="ps-5">
        <div class="">
          <div class="table-responsive">
            <table class="table">

              <thead>
                <tr>
                  <th>Service Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Painting</td>
                  <td>1</td>
                  <td>1400</td>
                  <td>
                    <button type="button" class="btn btn-secondary">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
</body>
