<body>
    <!-- top navbar -->

    <nav class="navbar navbar-expand-lg mb-5 " style="background-color: #1e88e5; color: #e3f2fd;">
        <div class="container-fluid ">
<!-- 
          <a class="navbar-brand" href="#" style="color: #6e4c0d;"> <span style="color: #1b4332;"><i class="fa-solid fa-cubes "></i> E</span>Learn</a> -->

          <div class="logo">
            <i class="fa-brands fa-pix fa-3x"></i>
                            <a href="#"><p><span>City</span>Craftsmen</p></a>
</div>
                    
          <form >
              <div class="input-group ">
              <input class="form-control" type="search" placeholder="Search our services" aria-label="Search" >
              <span class="input-group-text"><button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass text-secondary"></i></button></span>
                  
            </div>
            </form>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
              <div class="navbar-nav ">
                <!-- <a class="nav-link " aria-current="page" (click)="getgategories()">All Categories</a>
                
                <a class="nav-link" href="#">Login</a>
                <a class="nav-link" href="#">Sign-up</a>
                <a class="nav-link" href="#">Faqs</a> -->
              </div>
          </div>
        </div>
      </nav>


    <!-- Side nav bar -->

    
    <div class="container-fluid" style="margin-top: 40px">
      <div class="row">
 

        <div>
            <div class="container">
              <div class="row ">
                <div class="mt-5 myHeading-Heading ">
                  <div class="d-flex justify-content-center align-items-center myHeading">
                    <h1 class="p-2">Our Categories</h1>
                    <span>Explore</span>
                  </div>
                </div>
              </div>
              
              <div class="row cards d-flex" *ngFor="let category of categoryData">
                <div class="card mb-3">
                    <div class="row ">
                      <div class="">
                        <img
                          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"
                          class="img-fluid rounded-start d-flex justify-content-center"
                          alt="..."
                        />
                      </div>
                      <div class="col-md-12">
                        <div class="card-body">
                          <h5 class="card-title fw-bold">
                            Name: <span class="fw-normal">{{category.category_name}}</span>
                          </h5>
            
                          <p class="card-text fw-bold">
                            Description:
                            <span class="fw-normal"
                              >{{category.description}}</span
                            >
                          </p>
                          <p class="card-footer fw-bold">
                            <button class="btn btn-primary" (click)="goToSubcategorie(category.category_id)">Sub Categories</button>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
</div>
      </div>
    </div>
  </body>