body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  background-color: var(--primary-light-color);
}

.nav-link
{
font-size: 1.3rem;
color: var(--primary-light-color);
margin: 3px;
}

.navbar-nav .nav-link {
position: relative;
text-decoration: none;
}

.navbar-nav .nav-link::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color:var(--primary-light-color); /* Adjust this color to change the color of the underline */
transition: all 0.3s ease; /* Optional: Add a transition effect */
}

.logo {
display: flex;
margin-right: 10px;
margin-top: 12px;
}
.logo i, .logo span {
color: var(--primary-light-color);
}

.logo p {
text-align: center;
color: var(--primary-light-color);
font-size:2.4rem
}


.navbar-nav .nav-link:hover::after {
height: 3px; 
}

.sidebar {
  /* background-color: var(--secondary-light-color); */
  background-color: #3a5a40;
}

.nav-item p {
  color: var(--primary-light-color) !important;
  font-size: 1.5rem;
}
.sidebar .fa {
  color: var(--primary-light-color) !important;
}
nav a {
  text-decoration: none;
}




a {
  text-decoration: none;
}

.myHeading {
  flex-direction: column;
  width: 100%;
}

.myHeading-Heading {
  flex-direction: column;
  width: 100%;
}

.myHeading-Heading h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary-color);
  letter-spacing: 1rem;
}
.myHeading-Heading span {
  font-size: 1.3rem;
  text-transform: uppercase;
  color:var(--secondary-color);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Form styles */


.card {
  width: 48%;
  box-shadow: 1px 1px 2px var(--secondary-color);

background-color: #fff;
border-radius: 30px;
/* margin: auto; */
margin: 6px;
padding-top: 0.4rem;

}



.box {
  position: absolute;
  bottom: 10px;
  right: 20px;
  margin-bottom: 5px;

}

/* .card img{
width: 400px;
height: 300PX;
margin: auto;

} */

.card img {
width: 200px;
height: 200px;
margin: auto;
border-radius: 50% !important;   
object-fit: cover; 
}



.card-body
{
  margin: auto !important;
  text-align: center;


}



