<body>

    <!-- nav section starts --> 

    

        <nav class="navbar navbar-expand-lg mb-5 " style="background-color: #1e88e5; color: #e3f2fd;">
            <div class="container-fluid ">
<!-- 
              <a class="navbar-brand" href="#" style="color: #6e4c0d;"> <span style="color: #1b4332;"><i class="fa-solid fa-cubes "></i> E</span>Learn</a> -->

              <div class="logo">
                <i class="fa-brands fa-pix fa-3x"></i>
                                <a href="#"><p><span>City</span>Craftsmen</p></a>
</div>
                        
              <form >
                  <div class="input-group ">
                  <input class="form-control" type="search" placeholder="Search our services" aria-label="Search" >
                  <span class="input-group-text"><button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass text-secondary"></i></button></span>
                      
                </div>
                </form>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                  <div class="navbar-nav ">
                    
                    <a class="nav-link " aria-current="page" (click)="getCategories()">All Categories</a>
                    <a class="nav-link" >Login</a>
                    <a class="nav-link" >Sign-up</a>
                    <a class="nav-link" >Faqs</a>
                    <a class="nav-link" (click)="goToViewCart()">View-cart</a>

                  </div>
              </div>
            </div>
          </nav>


    <!-- nav section ends -->


    <!-- hero  starts -->
    

    <div class="hero mb-5">

            <img src="https://images.unsplash.com/photo-1584515933487-779824d29309?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            <div class="overlay"></div>
            <div class="centered-text">
              <p>Your Care is our priority...</p>
            </div>
   
          

    </div>

    <!-- hero ends -->

    <!-- unique selling points starts -->

    <div class="brown-section">

        <div class="feedback-Heading d-flex align-items-center justify-content-center m-4 ">
            <h1 class="p-2">What makes us Unique</h1>
    
          <span style="font-style: italic;">Our Key Features</span>
    
      </div>
        
          <div class="d-flex unique" >
    
            <div class="container ">
    
                <div class="row">
    
                    <div class="d-flex d-col  unique-card col" >
                        <i class="fa-regular fa-face-smile fa-2x icons m-2"></i>
                              <h4 class="fw-bold">Positive attitude</h4>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat autem nam labore repudiandae ipsam doloremque itaque, tenetur sit! Maxime, nobis.</p>    
                      </div>
                      <div class="d-flex d-col   unique-card col">
                        <i class="fa-solid fa-person fa-2x icons m-2"></i>
                                      <h4  class="fw-bold">Best quality services</h4>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, unde? Sequi eius, laboriosam nisi dignissimos minus adipisci vel? Eius, nulla!</p>  
                      </div>
                      <div class="d-flex d-col  unique-card col">
                        <i class="fa-solid fa-house  fa-2x icons m-2"></i>
                                      <h4  class="fw-bold">Comfort at footsteps</h4>
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error neque est vel earum ipsam iusto alias! Alias inventore autem neque.</p>    
                      </div>
    
                </div>
      
    
            </div>
              
    
      
      
          </div>

    </div>



  <!-- unique selling points ends
   -->


   
   <div class="feedback-Heading d-flex align-items-center justify-content-center m-4 p-3 ">
    <h1 class="p-2">Our most selling Services</h1>

    <span style="font-style: italic;"> Popular services</span>

</div>



   <!-- free and popular courses starts -->
    <div class="container mt-5">
  
      <div class="row mt-4 ">
          <div class="col-md-4">
              <div class="card">
                  <a href="#" class="btn" style="text-align: left;">
                      <img src="https://media.istockphoto.com/id/1470136073/photo/e-learning-postgraduate-diploma-program-concepts-hand-holding-light-bulb-showing-graduation.webp?b=1&s=170667a&w=0&k=20&c=zB5l1WaV7ucLmUzpEcQxWli5c9IdblMvdwPmYY852q0=" alt="" class="card-img-top">
                  </a>
  
                  <div class="card-body">
                      <h5 class="card-title">Care For special</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aperiam.</p>
                  </div>
  
                  <div class="card-footer">
                      <p class="card-text d-inline">Price:<small><span class="font-weight-bolder">2000</span></small></p>
                      <a href="#" class="btn btn-primary text-white font-weight-bolder">View More</a>
                  </div>
              </div>
          </div>
  
          
          <div class="col-md-4">
              <div class="card">
                <a href="#" class="btn" style="text-align: left;">
                  <img src="https://media.istockphoto.com/id/1470136073/photo/e-learning-postgraduate-diploma-program-concepts-hand-holding-light-bulb-showing-graduation.webp?b=1&s=170667a&w=0&k=20&c=zB5l1WaV7ucLmUzpEcQxWli5c9IdblMvdwPmYY852q0=" alt="" class="card-img-top">
              </a>

              <div class="card-body">
                  <h5 class="card-title">Pet Services</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aperiam.</p>
              </div>

              <div class="card-footer">
                  <p class="card-text d-inline">Price: <small><span class="font-weight-bolder">2000</span></small></p>
                  <a href="#" class="btn  btn-primary text-white font-weight-bolder">View More</a>
              </div>              </div>
          </div>
  
          <div class="col-md-4">
              <div class="card">
                <a href="#" class="btn" style="text-align: left;">
                  <img src="https://media.istockphoto.com/id/1470136073/photo/e-learning-postgraduate-diploma-program-concepts-hand-holding-light-bulb-showing-graduation.webp?b=1&s=170667a&w=0&k=20&c=zB5l1WaV7ucLmUzpEcQxWli5c9IdblMvdwPmYY852q0=" alt="" class="card-img-top">
              </a>

              <div class="card-body">
                  <h5 class="card-title">Cleaning</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aperiam.</p>
              </div>

              <div class="card-footer">
                  <p class="card-text d-inline">Price: <small><span class="font-weight-bolder">2000</span></small></p>
                  <a href="#" class="btn  btn-primary text-white font-weight-bolder">View More</a>
              </div>              </div>
          </div>
      </div>
  </div>

     <!-- free and popular courses ends -->


<!-- Sudent feedback starts -->

<div class="green-section">
    <div class="feedbacks d-flex align-items-center justify-content-center ">


        <div class="feedback-Heading d-flex align-items-center justify-content-center m-4 p-3 ">
          <h1 class="p-2">Our Customer says</h1>
      
            <span style="font-style: italic; color: var(--primary-light-color);">Reviews</span>
      
        </div>
      
      
      
        <!-- box container -->
      <div class="container ">
          <div class="row">
      
              <div class="feedback-container  d-flex align-items-center justify-content-center flex-wrap col container" >
        
                <div class="row">
                    <div class="box p-2 m-3 col">
        
                        <div class="box-top p-4 ">
          
                            <div class="profile d-flex align-items-center mb-3 ">
          
                                <strong>Vidhhi Lulla</strong>
          
                            </div>
          
          
                            <div class="content">
          
          
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odio animi earum cumque dicta possimus eveniet, tempora temporibus ea nam hic veritatis? Mollitia sed quia rerum. Repellendus aut ab nesciunt?</p>
          
          
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, pariatur molestias doloribus dolores expedita, non aspernatur voluptates, culpa beatae architecto sed molestiae? Non aliquid consequatur blanditiis perspiciatis provident nulla quasi?</p>
                            </div>
          
          
                            </div>
                    </div>
                    <div class="box p-2 m-3 col">
        
                        <div class="box-top p-4 ">
          
                            <div class="profile d-flex align-items-center mb-3">
          
                                <strong>Vidhhi Lulla</strong>
          
                            </div>
          
          
                            <div class="content">
          
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odio animi earum cumque dicta possimus eveniet, tempora temporibus ea nam hic veritatis? Mollitia sed quia rerum. Repellendus aut ab nesciunt?</p>
          
          
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, pariatur molestias doloribus dolores expedita, non aspernatur voluptates, culpa beatae architecto sed molestiae? Non aliquid consequatur blanditiis perspiciatis provident nulla quasi?</p>
                            </div>
          
          
                            </div>
                    </div>
                    <div class="box p-2 m-3 col">
        
                        <div class="box-top p-4 ">
          
                            <div class="profile d-flex align-items-center mb-3">
          
                                <strong>Vidhhi Lulla</strong>
          
                            </div>
          
          
                            <div class="content">
          
          
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odio animi earum cumque dicta possimus eveniet, tempora temporibus ea nam hic veritatis? Mollitia sed quia rerum. Repellendus aut ab nesciunt?</p>
          
          
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, pariatur molestias doloribus dolores expedita, non aspernatur voluptates, culpa beatae architecto sed molestiae? Non aliquid consequatur blanditiis perspiciatis provident nulla quasi?</p>
                            </div>
          
          
                            </div>
                    </div>
                </div>
        
                </div>
        
          </div>
      
      </div>
      
      
      
      </div>

</div>





<!-- Student feedback ends -->


<!-- our Team starts -->


<div class="ourTeam">
  <div class="container">

      <div class="row">

          <div class="feedback-Heading d-flex align-items-center justify-content-center m-4 p-3 ">
            <h1 class="p-2">Meet Our Stars</h1>

              <span style="font-style: italic;">Our Team</span>
  
          </div>


          <div class="ourteam d-flex d-col">


              <div class="d-flex twoParts">

                  <div class="part-1 d-flex d-col">
                      <h4>Vidhhi Lulla</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quidem, est optio numquam natus aperiam facilis, alias architecto ipsam, cupiditate mollitia? Esse similique placeat magni reiciendis dicta impedit corrupti explicabo!</p>
                  </div>


                  <div class="part-2 right">
                      <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGh1bWFufGVufDB8fDB8fHww" alt="">
                  </div>
              </div>


              <div class="d-flex twoparts">

                  <div class="part-2 left ">
                      <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGh1bWFufGVufDB8fDB8fHww" alt="">
                  </div>
              
                  <div class="part-1 d-flex d-col">
                      <h4>Vidhhi Lulla</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quidem, est optio numquam natus aperiam facilis, alias architecto ipsam, cupiditate mollitia? Esse similique placeat magni reiciendis dicta impedit corrupti explicabo!</p>
              
                  </div>
                  
              </div>


              <div class="d-flex twoParts">

                  <div class="part-1 d-flex d-col">
                      <h4>Vidhhi Lulla</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quidem, est optio numquam natus aperiam facilis, alias architecto ipsam, cupiditate mollitia? Esse similique placeat magni reiciendis dicta impedit corrupti explicabo!</p>
                  </div>


                  <div class="part-2 right">
                      <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGh1bWFufGVufDB8fDB8fHww" alt="">
                  </div>
              </div>


              <div class="d-flex twoparts">

                  <div class="part-2 left ">
                      <img src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGh1bWFufGVufDB8fDB8fHww" alt="">
                  </div>
              
                  <div class="part-1 d-flex d-col">
                      <h4>Vidhhi Lulla</h4>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quidem, est optio numquam natus aperiam facilis, alias architecto ipsam, cupiditate mollitia? Esse similique placeat magni reiciendis dicta impedit corrupti explicabo!</p>
              
                  </div>
                  
              </div>


          </div>







  
  
      </div>
  </div>
</div>

<!-- our Team ends -->


<!-- Footer -->
<footer class="footer mt-auto py-3 text-center" style="background-color:var(--primary-color); color: #6e4c0d;">
    <div class="container">
      <span class="text-muted">&copy; 2024 CityCraftsmen. All rights reserved.</span>
    </div>
  </footer>
  

  



    

    
    



</body>